
/* CSS de base */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Gestion des images */
img {
    max-width: 25%;
    height: auto;
    display: block;
}
